@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

footer{
    background-color: black;
}

/*Etilização Navbar*/

.navbar{
    background-image: url('/public/assents/images/fundo2M.jpg');
    background-size: cover; /* Faz com que a imagem cubra o container */
    /*background-size: contain; /* Faz com que a imagem caiba no container */
    background-repeat: no-repeat; 
    background-position: center;
    width: 100%; 
    height: 800px; 
}

.centered-item{
    margin:0;
    padding: 0;
}

.centered-item img{
    padding: 0%;
    margin: 0%;
    height: 200px;
    width: 200px;
    border-radius: 20%;
}

.centered-item h4{
    margin-top: 10px;
    color:white;
}

/*Faz a imagem pulsar*/
#FotoPerfil {
    border: 25px solid white; /* Cor e tamanho da borda */
    margin-left: 3rem;
}

/* Animação de borda */
@keyframes pulsar {
    0% {
        border-width: 3px;
    }
    25%{
        border-width: 4px;
    }
    50% {
        border-width: 10px;
    }
    75%{
        border-width: 4px;
    }
    100% {
        border-width: 3px;
    }
}

.animar {
    animation: pulsar 3s infinite;
}

/*Estilização do Main*/
.titulo{
    background-color: black;
    padding: 0px 50px;
    font-style: italic;
    margin: 10px;
    font-weight: bold;
    color:white
}

main hr{
    color: white;
}

/*Estilização da aba Projetos*/
#Projetos, #Infos{
    background-color: black;
    height: 80px;
}

#Projetos h1, #Infos h1{
    font-size: 50px;
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white
}